body
{
	background-color: black;
    position: relative;
    font-family: "Courier New", "Lucida Console";
    font-size: 14px;

    margin: 0% 0% 0% 0%;
    padding: 10px;
	color: #bac4c4;
	width: 600px;
}

 h1
{
	
    font-size: 16px;
    font-weight: bold;
	font-family: "Courier New", "Lucida Console";
    margin-bottom: 0px;
	width: 700px;
    padding: 0px;
}

.file:link
{
    color: #e6e6e6;
	text-decoration: none;
}

.file:visited
{
    color: #e6e6e6;
	text-decoration: none;
}

.file:hover
{
    color: #62eebd;
	background-color: #595959;
}

.file:active
{
    color: #a5f5d9;
	background-color: #666666;
}



a:link
{
    color: #5D70FC;
	text-decoration: none;
}

a:visited
{
    color: #5D70FC;
	text-decoration: none;
}

a:hover
{
    color: #5DEDFC;
	background-color: #525252;
}

a:active
{
    color: #BDF8FF;
	background-color: #666666;
}

li
{
    list-style: none;
    float: left;
    margin-right: 12px;
	margin-bottom: 6px;
}